@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url("background.gif") no-repeat fixed;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(100px);
  justify-content: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}

header {
  justify-content: center;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}

.header:hover::before {
  left: 100%;
}

.gray-bg {
  transition-duration: 0.25s;
  gap: 0.75rem;
  border-radius: 30px;
  padding: 1rem;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  --tw-text-opacity: 1;
  color: rgb(238 238 238/var(--tw-text-opacity));
  background-color: rgb(255, 255, 255, 0.125);
  backdrop-filter: blur(15px);
  text-decoration: none;
margin: auto;
width: 50%;
}


.button {
  display: inline-flex;
  transition-duration: 0.25s;
  justify-content: center;
  gap: 0.75rem;
  border-radius: 9999px;
  padding: 1rem;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  cursor: default;
  --tw-text-opacity: 1;
  color: rgb(238 238 238/var(--tw-text-opacity));
  background-color: rgb(255, 255, 255, 0.125);
  text-decoration: none;
  margin: 0;
  left: 50%;
  position:fixed;
  -ms-transform: translate(-50%);
  transform: translate(-50%, -50%);
  margin:auto;
}

.button:hover {
  transition-duration: 0.25s;
  background-color: rgb(255, 255, 255, 0.25);
  text-decoration: none;
  padding-left: 75px;
  padding-right: 75px;
}


.circle-button {
  display: inline-flex;
  transition-duration: 0.25s;
  justify-content: center;
  gap: 0.75rem;
  border-radius: 9999px;
  padding: 1rem;
  text-align: center;
  cursor: default;
  --tw-text-opacity: 1;
  color: rgb(238 238 238/var(--tw-text-opacity));
  background-color: rgb(51, 51, 51);
  text-decoration: none;
}

.circle-button:hover {
  transition-duration: 0.25s;
  background-color: rgb(58, 58, 58);
  text-decoration: none;
}

.outline-button {
  display: inline-flex;
  transition-duration: 0.25s;
  justify-content: center;
  gap: 0.75rem;
  border-radius: 9999px;
  outline-width: 3px;
  outline-color: rgb(208, 252, 255);
  outline-style: solid;
  padding: 1rem;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  align-self: center;
  cursor: default;
  --tw-text-opacity: 1;
  color: rgb(238 238 238/var(--tw-text-opacity));
  background-color: rgb(51, 51, 51, 0);
  text-decoration: none;
  backdrop-filter: blur(15px);

  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%, -50%);
}

.outline-button:hover {
  transition-duration: 0.25s;
  outline-color: rgb(200, 200, 200);
  background-color: rgb(58, 58, 58, 0);
  text-decoration: none;
}

th {
  padding-left: 150px;
  padding-right: 150px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}

img {
  border-radius: 30px;
}
